body{
    font: 'Montserrat',sans-serif;
    text-align: center;
}
h1, h2,h3,h4,h4,h5{
    font-family: 'Montserrat', sans-serif;
}

p{
    color: #8f8f8f;
}

.container-fluid{
    padding: 7% 15%;
}
.color-section{
    background-color: #ef8172;

}
.white-section{
    background-color: #fff;
}

/* title section */
#title{
    background-color: #ff4c68;
    color:#fff;
    text-align: left;
}

.container-fluid#title{
    padding: 3% 15% 17%;
}

.title-heading{
    size: 3.5rem;
    line-height: 1.5;
}


/* Navigation Bar */

.navbar{
    padding-bottom: 0,0,4.5rem,0;
}

.navbar-brand {
    font-family : 'Ubuntu', sans-serif;
    size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0,18px;
}

.nav-link{
    font-weight: lighter;
}

/* Download btn */
.download-btn{
    margin: 5% 3% 5% 0;
}

/* image */
.title-img{
    width: 20%;
    transform: rotate(25deg);
    line-height: 1.5;
    position: absolute;
    right: 30%;
}

/* feature */
#features{
    position: relative;
    z-index: 1;
}

.feature-box{
    padding: 5%;
}
.features-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}
.features-icon:hover{
    color: #ff4c68;
}

.features-heading{
    size: 1.5rem;
    line-height: 1.5;
}

/* Testimonials */
#testimonials{
    color: #fff;
}

.testimonials-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text{
    font-size:2rem;
    line-height: 1.5;
}

/* press */x

#press { 
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing */
#pricing{
    padding: 100px;
}
.pricing-text{
    size: 3rem;
    line-height: 1.5;
}

.pring-column{
    padding: 3% 2%;
}

.pricing-bigheading{
    font-size: 3rem;
    line-height: 1.5;
}

.pring-smallheading{
    font-size: 1.5rem;
}
/* Call to Action */
#cta{
    color: #fff;
    background-color: #ff4c68;
}
.cta-head{
    font-size: 2rem;
    line-height: 1.5;
}

/* foot */
#footer{
    background-color: #fff;
    padding: 4% 15% 3%;
}
.social-icon{
    margin: 20px 10px;
    color: #8f8f8f;
}

.footer-p{
    font-size: 0.8rem;
}

@media (max-width:1024px) {
    .title-img {
        position: static;
        width: 60%;
        transform: rotate(0);
    }

    #title {
        text-align: center;
    }
}